.idea/*
*DS_Store*
__pycache__/*
.vscode/*
.pytest_cache/*
env/*
.vscode/settings.json

*.tlog*
.parm

Examples/FlightPlans/*
Examples/GeoFences/*
Examples/Parameters/*
Examples/Traffic/*
Examples/TestScripts/multiAC*

doc/components.wmf
doc/WebGS_Design_Diagrams.pptx
doc/WebGCS_Overview.pptx
doc/SACR-WebGS-ClassD-4-25-19.pdf
doc/Project_Documentation_Class-D_WEBGS_R1V0.doc

SocketServer/*.kml
SocketServer/*.mlog
SocketServer/__pycache__/*
SocketServer/User/__pycache__/*
SocketServer/GsProcesses/__pycache__/*
SocketServer/GsProcesses/Geofence/*
SocketServer/GsProcesses/msg_objects/*
SocketServer/GsProcesses/Traffic/*
SocketServer/GsProcesses/Playback/*

Scripts/*.kml
Scripts/*.txt
Scripts/*.waypoints

LogFiles/*.txt
LogFiles/*.log
LogFiles/*.tlog
LogFiles/*.mlog

utils/*.txt
utils/*.png
utils/*.mlog
utils/EncounterModel/__pycache__/*

apps/DAA/daa-displays/*

certs/*.cert
certs/*.key
certs/*.pem
certs/*.srl
certs/*.csr
certs/*.crt
certs/*.ext
certs/*.cnf

node_modules/*
