.idea/*
*DS_Store*
__pycache__/*
.vscode/*
.pytest_cache/*
env/*

*.tlog*
.parm

UserSettings/userSettings.txt


doc/components.wmf
doc/WebGS_Design_Diagrams.pptx
doc/WebGCS_Overview.pptx
doc/SACR-WebGS-ClassD-4-25-19.pdf
doc/Project_Documentation_Class-D_WEBGS_R1V0.doc

ServerFiles/*.kml
ServerFiles/*.mlog
ServerFiles/__pycache__/*

Scripts/*.kml
Scripts/*.txt
Scripts/*.waypoints

OfflineTiles/*.mbtiles


utils/*.txt
utils/*.png
OfflineTiles/npm-debug.log
temp/*
UserSettings/userSettings.txt
.vscode/settings.json
LogFiles/*.txt
LogFiles/*.log
