[submodule "spin.js"]
	path = spin.js
	url = https://github.com/fgnass/spin.js.git
[submodule "Leaflet.RotatedMarker"]
	path = Leaflet.RotatedMarker
	url = https://github.com/bbecquet/Leaflet.RotatedMarker.git
[submodule "Leaflet.contextmenu"]
	path = Leaflet.contextmenu
	url = https://github.com/aratcliffe/Leaflet.contextmenu.git
[submodule "jQuery-Flight-Indicators"]
	path = jQuery-Flight-Indicators
	url = https://github.com/sebmatton/jQuery-Flight-Indicators.git
[submodule "daa-displays"]
	path = apps/DAA/daa-displays
	url = https://github.com/nasa/daa-displays.git
	ignore = all